* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  /* Spacing */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
  --space-7: 96px;
  --space-8: 128px;

  /* Color palette */
  --primary-color: hsl(160deg, 100%, 30%);

  --secondary-color-light: hsl(45deg, 100%, 50%);
  --secondary-color-dark: hsl(45deg, 100%, 40%);

  --gray-black: hsl(0deg, 0%, 0%);
  --gray-very-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --gray-white: hsl(0deg, 0%, 100%);
}

strong {
  color: var(--primary-color);
}

.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

header {
  border-bottom: 4px solid var(--gray-medium);
}

.intro-chunk {
  margin-top: var(--space-6);
  padding: var(--space-2);
  max-width: 400px;
}

main {
  background-color: var(--gray-light);
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.card {
  padding: var(--space-2);
  background-color: var(--gray-white);
  max-width: 600px;
  border-bottom: 4px solid var(--gray-medium);
}

.indented-heading {
  font-size: 1.25rem;
  background-color: var(--secondary-color-light);
  padding: var(--space-2) var(--space-3);
  margin-top: calc(var(--space-1) * -1);
  margin-left: calc(var(--space-3) * -1);
  width: fit-content;
  border-bottom: 4px solid var(--secondary-color-dark);
}
